body {
    text-align: center;
    background-color: beige;
}
.horizontal-line {
    height: 1px;
    background-color: #B6B6B5;
}
ul {
list-style-type: square;
}
h1, h3{
    font-style: italic;
}
button{
    font-size: medium;
}